.container-contact {
    background-image: url("../photo/mesh.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 100vh;
}

.box-contact {
    background-color: var(--transparent-white);
    border-radius: 20px;
    box-shadow: var(--box-shadow-light);
    padding: 2rem;
    height: 82vh;
    width: 190vh;
}

.header-contact {
    color: var(--dark);
    margin-bottom: 1rem;
}

.info-contact {
    display: inline-flex;
    margin-right: 10px;
    width: 100%;
    white-space: pre-wrap;
    font-size: 15px;
    text-decoration: none;
}

