* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.home-page {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
    background-color: var(--light-beige);
}

.central-photo {
    width: 90%;
    height: 52vh;
    border-radius: 20px;
    margin: 3rem auto;
    margin-top: 6rem;
    margin-bottom: 1rem;
    object-fit: cover;
  }
 
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.adopt-a-dog {
  width: 15%;
  max-width: 15rem;
  height: 27vh;
  border-radius: 20px;
  background-color: var(--orange);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: 3rem;
  text-decoration: none;
  color: black;
}

.voluntary {
  width: 15%;
  max-width: 15rem;
  height: 27vh;
  border-radius: 20px;
  background-color: var(--orange);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-right: 3rem;
  text-decoration: none;
  color: black;
}

.adopt-a-cat,
.support {
  width: 15%;
  max-width: 15rem;
  height: 27vh;
  border-radius: 20px;
  background-color: var(--orange);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
  color: black;
}

.adopt-a-dog:hover,
.adopt-a-cat:hover,
.support:hover,
.voluntary:hover {
  color: white;
  background-color: var(--dark);
  text-decoration: none;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

