.container-edit-voluntary {
    background-color: var(--light-beige);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px; /* dodanie odstępu na górze kontenera równego wysokości top bar */
    height: 100vh;
}

.form-edit-voluntary {
    max-width: 90%;
    padding: 4rem;
    text-align: center;
}

.header-edit-voluntary {
    color: var(--dark);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-edit-voluntary {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: var(--box-shadow-light);
    padding: 2rem;
    /*height: 70vh;*/
    /*width: 100vh;*/
}

/*.animal-info-edit-animal {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(2, 5fr);*/
/*    padding: 2rem;*/
/*}*/

.edit-voluntary {
    display: inline-flex;
    margin-right: 10px;
    font-weight: bold;
    width: 100%;
    /*grid-template-columns: 1fr 1fr;*/
}

.label-edit-voluntary {
    display: block;
    width: 15%;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: bold;
}

.input-edit-voluntary {
    width: 100vh;
    height: 50vh;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow-light);
    resize: none;
}

.input-send-edit-voluntary {
    width: 50%;
    margin-top: 1rem;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 20px;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.input-send-edit-voluntary:hover {
    background-color: var(--dark);
    box-shadow: var(--box-shadow-dark);
}