:root {
    --dark-purple: #22223B;
    --light-purple: #4A4E69;
    --dirty-pink: #9A8C98;
    --dark-beige: #C9ADA7;
    --light-beige: #F2E9E4;
    --box-shadow-light: 0 .5rem 1.5rem rgba(0,0,0, .1);
    --box-shadow-dark: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    --transparent-white: rgba(255, 255, 255, 0.8);

    --dark: #2d3142;
    --shadow: #bfc0c0;
    --white: #ffffff;
    --orange: #ef8354;
    --grey: #4f5d75;
  }

* {
    box-sizing: border-box;
    /* overflow-x: hidden; */
    /* scroll-padding: 5.5rem; */
    /* scroll-behavior: smooth; */
}

body {
    margin: 0;
    background-color: var(--white);
}

/* .pageContainer {
    margin: 1rem;
    text-align: center;
} */

.nav {
    /* ruchome menu */
    position: fixed;   
    top: 0; left:0; right: 0; 
    background-color: var(--white);
    color: black;
    /* box-shadow: var(--grey); */
    box-shadow: 1px 5px 5px var(--shadow);
    padding: 1rem 7%; 
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* z-index: 1000; */
    /* 1 jednostka do góry, 7% swojej przstrzeni po bokach */
    
}

.site-title {
    font-size: 2rem;
}

.nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

/*.administration-nav-bar {*/
/*    color: inherit;*/
/*    text-decoration: none;*/
/*    height: 90%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: .25rem;*/
/*}*/

.nav a {
    color: inherit;
    text-decoration: none;
    height: 90%;
    display: flex;
    align-items: center;
    padding: .25rem;
    /*color: white;*/
}

.transitioning,
.pending,
.active2,
.active {
    background-color: var(--dark);
    border-radius: 0.5rem !important;
    padding-left: 1rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 1rem !important;
    padding-top: 0.5rem !important;
    color: white !important;
}

.active2:hover {
    background-color: var(--dark);
    border-radius: 0.5rem !important;
    padding-left: 1rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 1rem !important;
    padding-top: 0.5rem !important;
    color: white !important;
}

.logout {
    background-color: var(--white);
    text-decoration: none;
    height: 90%;
    display: flex;
    align-items: center;
    padding: .25rem;
    border: none;
    font-size: 1rem;
}

.logout:hover {
    background-color: var(--dark);
    border-radius: .5rem;
    padding: .5rem 1rem;
    color: white;
}

